<div class="wrapper  getintuoch-sec">
   <section>
      <div class="banner_wrap  get-touch-banner">
         <img src="/assets/page-banner.png" alt="" class="w-100">
         <div class="container">
            <div class="banner_text">
               <h2> We are happy to answer  your <br> any kind of <span> Questions </span>  </h2>
            </div>
         </div>
      </div>
   </section>
   <section>
      <div class="menu-wrap ct-sec-2 services-sec   about-us-sec">
         <div class="container-fluid">
            <div class="services-head">
               <h3>Get in touch with <span> Us </span> </h3>
               <p> Lorem ipsum, or lipsum as it is sometimes known, is dummy text used.</p>
            </div>
            <div class="row">
               <div class="col-md-7 offset-md-3">
                  <div class="card_inner-inner">
                     <div class="right-inner  img-h1">
                        <div class="right">
                     <%= form_for Ticket.new  do |form| %>

                        <div class="form-group">
                           <%= form.text_field :name, :class => 'form-control',:placeholder => 'Your Name' ,:required => true %>
                        </div>
                        <div class="form-group">
                           <%= form.email_field :email,:id => "exampleInputEmail1", :class => 'form-control',:placeholder => 'Email Address' ,:required => true %>
                        </div>
                        <%= form.hidden_field :status, value: 'open' %>
                        <div class="form-group">
                           <%= form.text_area :message,:id => "exampleInputmessage1", :class => 'form-control',:placeholder => 'Message' ,:required => true %>
                        </div>
                        <button type="submit" class="btn btn-primary">Send</button>
                        <div class="send-img"><img src="/assets/Homepage/contact-us-b.png"></div>
                     <% end %>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section>
      <div class="menu-wrap contact-gallery">
         <div class="contact-gallery-inner-sec">
            <div class="contact-gallery-inner-sec-1">
               <img src="/assets/Contact-Us/gallery-1.png">
            </div>
            <div class="contact-gallery-inner-sec-1 email-box-sec">
               <img src="/assets/Contact-Us/chat-1.png">
               <h3>LET'S TALK</h3>
               <span>Phone : +7779898998</span>
            </div>
            <div class="contact-gallery-inner-sec-1">
               <img src="/assets/Contact-Us/gallery-1.png">
            </div>
            <div class="contact-gallery-inner-sec-1 email-box-sec">
               <img src="/assets/Contact-Us/map-2.png">
               <h3>HEAD OFFICE </h3>
               <span>30 Ipswitch pl, whiers</span>
            </div>
            <div class="contact-gallery-inner-sec-1">
               <img src="/assets/Contact-Us/gallery-1.png">
            </div>
            <div class="contact-gallery-inner-sec-1 email-box-sec">
               <img src="/assets/Contact-Us/email-d.png">
               <h3>Email Us</h3>
               <span>Contact@cashtelex.com</span>
            </div>
         </div>
      </div>
   </section>
</div>

