<section class="sidebar-left">
  <div class="sidebar-custom">
    <div class="sidebar-logo">
      <a href="/home"> <%= image_tag("img-1/logo.png") %> </a>
      <button class="menu-hamburger"><%= image_tag("hamburger.png") %> </button>
    </div>
    <div class="sidebar-menu">
      <div class="menu-item">
        <a href="<%= admins_dashboards_path %>" class="<%= current_class_on_tab("dashboards") %>"><%= image_tag("img-1/home.png") %> Dashboard </a>
      </div>
      <div class="menu-item  collapse-d2">
        <a href="javascript:void(0);" id="service_parent_tab" data-toggle="collapse" data-target="#demo">
          <%= image_tag("img-2/store.png", class: "active-c") %>
          Services  
          <span> 
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </span>
        </a>
        <div id="demo" class="collapse">
            <%  Service.all.each do |service| %>
              <%= link_to edit_admins_service_path(service), class: current_class_on_tab("services", service.id) do %>
                <%= image_tag service_image_path(service.title), class: "active-c" %> <%= service.title %>
              <% end %>
            <% end %>
        </div>
      </div>
      <div class="menu-item">
        <%= link_to admins_service_service_providers_path(gold_service.id), class: current_class_on_tab("service_providers") do %>
          <%= image_tag service_image_path(gold_service.title), class: "active-c" %> <%= gold_service.title %>
        <% end %>
      </div>
      <div class="menu-item">
        <a href="<%= edit_admins_about_path(About.first) %>" class="<%= current_class_on_tab("abouts") %>"><%= image_tag("img-1/document.png") %> About  Us  </a>
      </div>
      <div class="menu-item">
        <a href="<%= edit_admins_term_path(Term.first) %>" class="<%= current_class_on_tab("terms") %>"><%= image_tag("img-1/document.png") %> Terms and Condition</a>
      </div>
      <div class="menu-item">
        <a href="/tickets" class="<%= current_class_on_tab("tickets") %>"><%= image_tag("img-1/document.png") %> Support Tickets </a>
      </div>
      <div class="menu-item">
        <a href="<%= edit_admin_registration_path %>" class="<%= current_class_on_tab("registrations") %>"><%= image_tag("img-1/setting-spanner.png") %> Setting </a>
      </div>
      <!-- Logout functionality -->
      <div class="menu-item">
        <%= link_to destroy_admin_session_path, method: :delete do %>
          <%= image_tag("img-1/logout.png") %> Logout
        <% end %>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  jQuery(".navbar-toggler").click(function(){
    alert("hi")
  jQuery(".sidebar-left").toggleClass("hide_sidebar");
});
</script>