<header>
   <div class="container-fluid">
      <div class="row">
         <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-light">
               <a class="navbar-brand" href="#">
               <img src="/assets/logo-1.png" alt="">
               </a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto">
                     <li class="nav-item active">
                        <a class="nav-link" href="/home">Home</a>
                     </li>
                      <li class="nav-item  dropdown">
                        <a class="nav-link dropdown-toggle" href="#"  data-toggle="dropdown">     Services 
                        <i class="fa fa-angle-down" aria-hidden="true">  </i>
                        </a>
                        <div class="dropdown-menu">
                           <a class="dropdown-item" href="/home/cashtelex_exchange"><%= Service.find_by_title('Cashtelex Exchange').title%></a>
                            <a class="dropdown-item" href="/home/cashtelex_go"><%= Service.find_by_title('Cashtelex Go').title%></a>
                             <a class="dropdown-item" href="/home/cashtelex_gold"><%= Service.find_by_title('Cashtelex Gold').title%></a>
                              <a class="dropdown-item" href="/home/cashtelex_real_estate"><%= Service.find_by_title('Cashtelex Real Estate').title%></a>
                               <a class="dropdown-item" href="/home/cashtelex_coin"><%= Service.find_by_title('Cashtelex Coin').title%></a>
                        </div>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/home/about_us">About Us</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/home/contact_us">Contact Us</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#">Cashtelex Tower</a>
                     </li> 
                                                 
                     <li class="nav-item">
                        <a class="nav-link" href="#">Cashtelex Gold</a>
                     </li>
                     <li class="nav-item ">
                        <a class="nav-link login-btn" href="/admins/sign_in">Login</a>
                     </li>
                    <!--  <li class="nav-item">
                        <a class="nav-link" href="/admins/sign_in">Sign Up</a>
                     </li> -->
                  </ul>
               </div>
            </nav>
         </div>
      </div>
   </div>
</header>