<!-- Layout for admin panel -->
<!DOCTYPE html>
<html>
  <head>
    <title>Cashtelex</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </head>
  <body>
    <!-- show sidebar for registration controller -->
    <% if controller_name == "registrations" %>
      <%= render partial: "layouts/partials/sidebar" %>
    <% end %>
    <%= yield %>
  </body>
</html>
