<!-- Layout for admin panel -->
<!DOCTYPE html>
<html>
  <head>
    <title>Cashtelex</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </head>
  <body>
    <!-- Sidebar -->
      <% if current_admin.present? %>
        <%= tinymce_assets %>
        <%= tinymce %>
        <%= render partial: "layouts/partials/sidebar" %>
      <% end %>
      <!-- Main Content -->
      <%= yield %>
  </body>
</html>
